@charset "UTF-8";
@font-face {
  font-family: "GoodPro";
  src: url("../fonts/FFGoodPro-Regular.eot");
  src: local("☺"), url("../fonts/FFGoodPro-Regular.woff") format("woff"), url("../fonts/FFGoodPro-Regular.ttf") format("truetype"), url("../fonts/FFGoodPro-Regular.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}
:root {
  font-size: 10px;
  font-family: "GoodPro", sans-serif;
}

.container {
  max-width: 1280px;
  padding: 0 25px;
  margin: 0 auto;
}

body {
  margin: 0;
}

::-webkit-scrollbar {
  width: 10px;
  height: 8px;
  background-color: #E5E5E5;
}

::-webkit-scrollbar-thumb {
  background-color: #72BF44;
}

.colored-button, .transparent-button {
  color: #fff;
  font-size: 1.4rem;
  border-radius: 3px;
  background: #72BF44;
  cursor: pointer;
  text-decoration: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: 1px solid #72BF44;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  white-space: nowrap;
}

.transparent-button {
  color: #72BF44;
  background: none;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  border: none;
}

.colored-button:hover {
  background: none;
  color: #72BF44;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.transparent-button:hover {
  background: #72BF44;
  color: #fff;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.dropdown-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
}
.dropdown-list__first {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}
.dropdown-list__first p {
  margin: auto 10px;
}
.dropdown-list__first svg {
  margin: auto 0;
}
.dropdown-list .submenu {
  display: none !important;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: absolute;
  top: 100%;
  left: 0;
  background: #fff;
  opacity: 0;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  z-index: 3;
}
.dropdown-list .submenu li {
  margin: 10px 15px 10px 0;
}
.dropdown-list .submenu li p {
  margin: auto 10px;
}
.dropdown-list .submenu li svg {
  margin: auto 0;
}

.dropdown-list:hover .submenu {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  opacity: 1;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

header {
  background: #F8F8F8;
  position: fixed;
  z-index: 6;
  width: 100%;
  border-bottom: 1px solid #E5E5E5;
}
header .header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
header .header__logo {
  display: block;
  padding: 20px 0;
}
header .header__search {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  width: 100%;
  margin: 0 20px 0 70px;
  padding: 20px 0;
}
header .header__search input {
  background: #fff;
  border: 1px solid #B4DFA2;
  color: #000;
  font-size: 1.4rem;
  padding: 12px 16px;
  border-radius: 4px;
  outline: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100%;
  margin: 0 20px 0 0;
}
header .header__search button {
  padding: 12px 32px;
  background: #E5F5E0;
  border-radius: 3px;
  outline: none;
  cursor: pointer;
  border: 1px solid #E5F5E0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
header .header__search button svg {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
header .header__search button:hover {
  border: 1px solid #B4DFA2;
  background: #fff;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
header .header__buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 20px 20px;
  border-left: 1px solid #E5E5E5;
  border-right: 1px solid #E5E5E5;
}
header .header__buttons .colored-button {
  margin: 0 20px 0 0;
  padding: 10px 23px;
}
header .header__buttons .transparent-button {
  padding: 10px 23px;
}
header .header__cart {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: auto 0 auto 20px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-decoration: none;
}
header .header__cart__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0 10px 0 0;
  position: relative;
}
header .header__cart__logo span {
  position: absolute;
  color: #fff;
  background: #CC0E00;
  margin: 0;
  top: -6px;
  right: 3px;
  font-size: 0.8rem;
  border-radius: 20px;
  padding: 3px 4.5px;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
header .header__cart__logo img {
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
header .header__cart p {
  color: #000;
  font-size: 1.6rem;
  font-weight: 400;
}
header .header__cart:hover .header__cart__logo img, header .header__cart:hover .header__cart__logo span {
  -webkit-transform: scale(1.2, 1.2);
          transform: scale(1.2, 1.2);
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
header .header__burger-menu {
  display: none;
}

#Menu {
  position: relative;
  top: 82px;
  border-top: 1px solid #E5E5E5;
  border-bottom: 1px solid #E5E5E5;
}
#Menu .menu nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 19px 0;
  margin: 0;
}
#Menu .menu nav ul li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
#Menu .menu nav ul li a {
  text-decoration: none;
  font-weight: 400;
  color: #000;
  font-size: 1.6rem;
}

#Mobile-menu {
  display: none;
}

#Investments {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0)), to(#F3F7F9));
  background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, #F3F7F9 100%);
}
#Investments .investments {
  width: 100%;
  min-height: 720px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  padding: 155px 0 136px 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
#Investments .investments__description {
  position: relative;
  z-index: 3;
  max-width: 700px;
}
#Investments .investments__description h3, #Investments .investments__description p {
  font-size: 6rem;
  font-weight: 400;
  color: #000;
  margin: 0;
  padding: 0 0 40px 0;
}
#Investments .investments__description p {
  font-size: 2.4rem;
  line-height: 2.8rem;
}
#Investments .investments__description a {
  max-width: 280px;
  padding: 14px 0;
  font-size: 1.8rem;
  line-height: 2.8rem;
}
#Investments .investments__description__ratings {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  padding: 45px 0 0 5px;
}
#Investments .investments__description__ratings__unit {
  margin: 0 35px 0 0;
  text-align: center;
}
#Investments .investments__description__ratings__unit p {
  font-size: 1.3rem;
  color: #000;
  font-weight: 400;
  padding: 20px 0 0 0;
}
#Investments .investments__img img {
  position: absolute;
  right: 0;
  bottom: 0;
  max-width: 804px;
  max-height: 624px;
}
#Investments .investments__img picture img {
  z-index: 2;
  max-width: 500px;
}
#Investments .investments__img img:nth-child(2) {
  right: 52px;
  z-index: 1;
}

#Partners .partners {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 70px 0 140px 0;
}
#Partners .partners svg, #Partners .partners img {
  margin: 0 22.5px;
}

#Quick-start .quick-start {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
#Quick-start .quick-start img {
  margin: 0 100px 0 0;
  max-width: 412px;
  max-height: 522px;
}
#Quick-start .quick-start__description h3 {
  font-size: 6rem;
  color: #000;
  font-weight: 400;
  margin: 0;
  padding: 71px 0 40px 0;
}
#Quick-start .quick-start__description ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 0;
}
#Quick-start .quick-start__description ul li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 2.4rem;
  color: #000;
  font-weight: 400;
  padding: 0 0 20px 0;
}
#Quick-start .quick-start__description a {
  margin: 50px 0 0 0;
  padding: 14px 0;
  width: 330px;
  font-size: 1.8rem;
  line-height: 2.8rem;
}

#IPO .ipo, #IPO .etf, #IPO .deposit, #IPO .sentence, #ETF .ipo, #ETF .etf, #ETF .deposit, #ETF .sentence, #Deposit .ipo, #Deposit .etf, #Deposit .deposit, #Deposit .sentence, #Sentence .ipo, #Sentence .etf, #Sentence .deposit, #Sentence .sentence {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  position: relative;
  padding: 140px 0 0 0;
}
#IPO .ipo__description h3, #IPO .ipo__description p, #IPO .etf__description h3, #IPO .etf__description p, #IPO .deposit__description h3, #IPO .deposit__description p, #IPO .sentence__description h3, #IPO .sentence__description p, #ETF .ipo__description h3, #ETF .ipo__description p, #ETF .etf__description h3, #ETF .etf__description p, #ETF .deposit__description h3, #ETF .deposit__description p, #ETF .sentence__description h3, #ETF .sentence__description p, #Deposit .ipo__description h3, #Deposit .ipo__description p, #Deposit .etf__description h3, #Deposit .etf__description p, #Deposit .deposit__description h3, #Deposit .deposit__description p, #Deposit .sentence__description h3, #Deposit .sentence__description p, #Sentence .ipo__description h3, #Sentence .ipo__description p, #Sentence .etf__description h3, #Sentence .etf__description p, #Sentence .deposit__description h3, #Sentence .deposit__description p, #Sentence .sentence__description h3, #Sentence .sentence__description p {
  font-size: 6rem;
  font-weight: 400;
  color: #000;
  margin: 0;
  padding: 0 0 40px 0;
}
#IPO .ipo__description h3 span, #IPO .ipo__description p span, #IPO .etf__description h3 span, #IPO .etf__description p span, #IPO .deposit__description h3 span, #IPO .deposit__description p span, #IPO .sentence__description h3 span, #IPO .sentence__description p span, #ETF .ipo__description h3 span, #ETF .ipo__description p span, #ETF .etf__description h3 span, #ETF .etf__description p span, #ETF .deposit__description h3 span, #ETF .deposit__description p span, #ETF .sentence__description h3 span, #ETF .sentence__description p span, #Deposit .ipo__description h3 span, #Deposit .ipo__description p span, #Deposit .etf__description h3 span, #Deposit .etf__description p span, #Deposit .deposit__description h3 span, #Deposit .deposit__description p span, #Deposit .sentence__description h3 span, #Deposit .sentence__description p span, #Sentence .ipo__description h3 span, #Sentence .ipo__description p span, #Sentence .etf__description h3 span, #Sentence .etf__description p span, #Sentence .deposit__description h3 span, #Sentence .deposit__description p span, #Sentence .sentence__description h3 span, #Sentence .sentence__description p span {
  color: #72BF44;
}
#IPO .ipo__description p, #IPO .etf__description p, #IPO .deposit__description p, #IPO .sentence__description p, #ETF .ipo__description p, #ETF .etf__description p, #ETF .deposit__description p, #ETF .sentence__description p, #Deposit .ipo__description p, #Deposit .etf__description p, #Deposit .deposit__description p, #Deposit .sentence__description p, #Sentence .ipo__description p, #Sentence .etf__description p, #Sentence .deposit__description p, #Sentence .sentence__description p {
  font-size: 2.4rem;
}
#IPO .ipo__description p a, #IPO .etf__description p a, #IPO .deposit__description p a, #IPO .sentence__description p a, #ETF .ipo__description p a, #ETF .etf__description p a, #ETF .deposit__description p a, #ETF .sentence__description p a, #Deposit .ipo__description p a, #Deposit .etf__description p a, #Deposit .deposit__description p a, #Deposit .sentence__description p a, #Sentence .ipo__description p a, #Sentence .etf__description p a, #Sentence .deposit__description p a, #Sentence .sentence__description p a {
  font-size: 2.4rem;
  color: #72BF44;
  text-decoration: none;
  padding: 0;
}
#IPO .ipo__description p a:hover, #IPO .etf__description p a:hover, #IPO .deposit__description p a:hover, #IPO .sentence__description p a:hover, #ETF .ipo__description p a:hover, #ETF .etf__description p a:hover, #ETF .deposit__description p a:hover, #ETF .sentence__description p a:hover, #Deposit .ipo__description p a:hover, #Deposit .etf__description p a:hover, #Deposit .deposit__description p a:hover, #Deposit .sentence__description p a:hover, #Sentence .ipo__description p a:hover, #Sentence .etf__description p a:hover, #Sentence .deposit__description p a:hover, #Sentence .sentence__description p a:hover {
  border-bottom: 1px solid #72BF44;
}
#IPO .ipo__description__information, #IPO .etf__description__information, #IPO .deposit__description__information, #IPO .sentence__description__information, #ETF .ipo__description__information, #ETF .etf__description__information, #ETF .deposit__description__information, #ETF .sentence__description__information, #Deposit .ipo__description__information, #Deposit .etf__description__information, #Deposit .deposit__description__information, #Deposit .sentence__description__information, #Sentence .ipo__description__information, #Sentence .etf__description__information, #Sentence .deposit__description__information, #Sentence .sentence__description__information {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0 0 40px 0;
}
#IPO .ipo__description__information__unit, #IPO .etf__description__information__unit, #IPO .deposit__description__information__unit, #IPO .sentence__description__information__unit, #ETF .ipo__description__information__unit, #ETF .etf__description__information__unit, #ETF .deposit__description__information__unit, #ETF .sentence__description__information__unit, #Deposit .ipo__description__information__unit, #Deposit .etf__description__information__unit, #Deposit .deposit__description__information__unit, #Deposit .sentence__description__information__unit, #Sentence .ipo__description__information__unit, #Sentence .etf__description__information__unit, #Sentence .deposit__description__information__unit, #Sentence .sentence__description__information__unit {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  margin: 0 70px 0 0;
}
#IPO .ipo__description__information__unit p, #IPO .etf__description__information__unit p, #IPO .deposit__description__information__unit p, #IPO .sentence__description__information__unit p, #ETF .ipo__description__information__unit p, #ETF .etf__description__information__unit p, #ETF .deposit__description__information__unit p, #ETF .sentence__description__information__unit p, #Deposit .ipo__description__information__unit p, #Deposit .etf__description__information__unit p, #Deposit .deposit__description__information__unit p, #Deposit .sentence__description__information__unit p, #Sentence .ipo__description__information__unit p, #Sentence .etf__description__information__unit p, #Sentence .deposit__description__information__unit p, #Sentence .sentence__description__information__unit p {
  font-size: 6rem;
  color: #72BF44;
  font-weight: 300;
  padding: 0;
}
#IPO .ipo__description__information__unit span, #IPO .etf__description__information__unit span, #IPO .deposit__description__information__unit span, #IPO .sentence__description__information__unit span, #ETF .ipo__description__information__unit span, #ETF .etf__description__information__unit span, #ETF .deposit__description__information__unit span, #ETF .sentence__description__information__unit span, #Deposit .ipo__description__information__unit span, #Deposit .etf__description__information__unit span, #Deposit .deposit__description__information__unit span, #Deposit .sentence__description__information__unit span, #Sentence .ipo__description__information__unit span, #Sentence .etf__description__information__unit span, #Sentence .deposit__description__information__unit span, #Sentence .sentence__description__information__unit span {
  font-size: 1.8rem;
  font-weight: 400;
  color: #E5E5E5;
}
#IPO .ipo__description a, #IPO .etf__description a, #IPO .deposit__description a, #IPO .sentence__description a, #ETF .ipo__description a, #ETF .etf__description a, #ETF .deposit__description a, #ETF .sentence__description a, #Deposit .ipo__description a, #Deposit .etf__description a, #Deposit .deposit__description a, #Deposit .sentence__description a, #Sentence .ipo__description a, #Sentence .etf__description a, #Sentence .deposit__description a, #Sentence .sentence__description a {
  padding: 14px 0;
  width: 330px;
  font-size: 1.8rem;
  line-height: 2.8rem;
}
#IPO .ipo img, #IPO .etf img, #IPO .deposit img, #IPO .sentence img, #ETF .ipo img, #ETF .etf img, #ETF .deposit img, #ETF .sentence img, #Deposit .ipo img, #Deposit .etf img, #Deposit .deposit img, #Deposit .sentence img, #Sentence .ipo img, #Sentence .etf img, #Sentence .deposit img, #Sentence .sentence img {
  max-width: 620px;
  max-height: 833px;
}

#Awards {
  background: #F8F8F8;
}
#Awards .awards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
}
#Awards .awards h4 {
  padding: 140px 0 48px 0;
  font-size: 3rem;
  font-weight: 500;
  margin: 0;
}
#Awards .awards p {
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 2.8rem;
  margin: 0;
  padding: 0 0 80px 0;
}
#Awards .awards ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0;
}
#Awards .awards ul li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  text-align: left;
  background: #fff;
  -webkit-box-shadow: 0 4px 40px rgba(0, 0, 0, 0.08);
          box-shadow: 0 4px 40px rgba(0, 0, 0, 0.08);
  border-radius: 5px;
  width: calc(50% - 20px);
  margin: 0 0 -60px 0;
  padding: 40px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
#Awards .awards ul li img {
  width: 101px;
  height: 96px;
}
#Awards .awards ul li h4 {
  font-size: 2.4rem;
  font-weight: 500;
  color: #000;
  margin: 0;
  padding: 20px 0;
}
#Awards .awards ul li p {
  font-size: 1.6rem;
  color: #000;
  opacity: 0.6;
  padding: 0 0 20px 0;
}

#Safety .safety {
  padding: 186px 0 0 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
}
#Safety .safety h3 {
  margin: 0;
  color: #000;
  font-size: 4rem;
  font-weight: 500;
  padding: 0 0 40px 0;
}
#Safety .safety__description {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  background: #F8F8F8;
  border-radius: 10px;
  padding: 60px;
  text-align: left;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
#Safety .safety__description p {
  font-size: 1.8rem;
  font-weight: 400;
  padding: 0 40px 0 0;
  margin: 0;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  width: 80%;
}
#Safety .safety__description svg {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

#Invest-form {
  padding: 0 0 140px 0;
}
#Invest-form .invest-form {
  max-width: 600px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 0 auto;
  text-align: center;
  padding: 74px 0 0 0;
}
#Invest-form .invest-form h3 {
  font-size: 3rem;
  font-weight: 500;
  margin: 0;
  padding: 0 0 40px 0;
}
#Invest-form .invest-form__block input {
  width: 100%;
  margin: 0 0 20px 0;
  border: 1px solid #CCCCCC;
  color: #000;
  font-size: 1.6rem;
  font-weight: 400;
  padding: 20px 14px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 3px;
  outline: none;
}
#Invest-form .invest-form__block__password {
  position: relative;
  padding: 0 0 20px 0;
}
#Invest-form .invest-form__block__password input {
  margin: 0;
}
#Invest-form .invest-form__block__password img {
  position: absolute;
  top: 18px;
  right: 14px;
  cursor: pointer;
}
#Invest-form .invest-form__block__checkbox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0 0 42px 0;
}
#Invest-form .invest-form__block__checkbox input[type=checkbox] {
  display: none;
}
#Invest-form .invest-form__block__checkbox .checkbox-block {
  display: block;
  width: 24px;
  height: 24px;
  border: 1px solid #cccccc;
  border-radius: 3px;
  position: relative;
}
#Invest-form .invest-form__block__checkbox .checkbox-block svg {
  position: absolute;
  width: 16px;
  height: 16px;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  opacity: 0;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
#Invest-form .invest-form__block__checkbox .checkbox-block svg path {
  fill: #72BF44;
}
#Invest-form .invest-form__block__checkbox input[type=checkbox]:checked + label svg {
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  opacity: 1;
}
#Invest-form .invest-form__block__checkbox .checkbox-text {
  font-size: 1.4rem;
  font-weight: 400;
  padding: 0 0 0 15px;
  margin: auto 0;
}
#Invest-form .invest-form__block__checkbox .checkbox-text a {
  font-size: 1.4rem;
  font-weight: 400;
  color: #72BF44;
  text-decoration: none;
  margin: 0;
  padding: 0;
}
#Invest-form .invest-form__block__checkbox .checkbox-text a:hover {
  border-bottom: 1px solid #72BF44;
}
#Invest-form .invest-form__block button {
  width: 100%;
  padding: 17px 0;
  line-height: 2.8rem;
  font-size: 1.8rem;
}

footer {
  background: #ECEFF1;
  padding: 70px 0;
}
footer .footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
footer .footer hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
  margin: 0;
  border: 0;
  border-top: 1px solid #e5e5e5;
}
footer .footer__main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0 0 40px 0;
}
footer .footer__main__contacts h4, footer .footer__main__services h4, footer .footer__main__documents h4, footer .footer__main__information h4 {
  font-size: 1.8rem;
  font-weight: 700;
  text-transform: uppercase;
}
footer .footer__main__services, footer .footer__main__documents {
  width: 20%;
}
footer .footer__main__services ul, footer .footer__main__documents ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 0;
  padding: 0;
}
footer .footer__main__services ul li, footer .footer__main__documents ul li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 0;
}
footer .footer__main__services ul li:not(:first-child), footer .footer__main__documents ul li:not(:first-child) {
  margin: 20px 0 0 0;
}
footer .footer__main__services a, footer .footer__main__documents a {
  text-decoration: none;
  color: #000;
  opacity: 0.6;
  font-size: 1.6rem;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
footer .footer__main__services a:hover, footer .footer__main__documents a:hover {
  opacity: 1;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
footer .footer__main__contacts {
  width: 30%;
}
footer .footer__main__contacts ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 0;
}
footer .footer__main__contacts ul li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
footer .footer__main__contacts ul li a {
  text-decoration: none;
  font-size: 1.4rem;
  color: #72BF44;
}
footer .footer__main__contacts ul li a:hover {
  border-bottom: 1px solid #72BF44;
  margin: 0 0 -1px 0;
}
footer .footer__main__contacts ul li svg {
  width: 12px;
  height: 14px;
  margin: auto 10px auto 0;
}
footer .footer__main__contacts ul li p {
  font-size: 1.4rem;
  font-weight: 100;
  margin: 0;
}
footer .footer__main__contacts ul li p span {
  font-weight: 700;
}
footer .footer__main__contacts ul li p a {
  text-decoration: none;
  color: #000;
}
footer .footer__main__contacts ul li p a:hover {
  border: none;
  margin: 0;
}
footer .footer__main__contacts ul li:not(:first-child) {
  margin: 10px 0 0 0;
}
footer .footer__main__contacts hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
  margin: 20px 0;
  border: 0;
  border-top: 1px solid #e5e5e5;
}
footer .footer__main__information {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
footer .footer__main__information__payment-methods__logo svg {
  border: 1px solid #E5E5E5;
  padding: 2px 10px;
  margin: 0 20px 0 0;
}
footer .footer__main__information__payment-methods__logo svg:last-child path {
  fill: #72BF44;
}
footer .footer__information {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
footer .footer__information svg {
  margin: auto 0;
  width: 25%;
}
footer .footer__information__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 0 0 0 40px;
  width: 60%;
  margin: auto 0;
  line-height: 1.5;
}
footer .footer__information__text p {
  font-size: 1.25rem;
  color: #999;
  margin: 0 0 20px 0;
}
footer .footer__information__licenses {
  padding: 0 0 0 40px;
  width: 20%;
}
footer .footer__information__licenses a {
  background: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 50px 30px;
  text-decoration: none;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
footer .footer__information__licenses a svg {
  margin: 0;
}
footer .footer__information__licenses a p {
  font-size: 1.4rem;
  margin: 20px 0 0 0;
  color: #000;
}
footer .footer__information__licenses a span {
  opacity: 0.6;
  font-size: 1.4rem;
  margin: 10px 0 0 0;
  color: #000;
}
footer .footer__information__licenses a:hover {
  -webkit-box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
          box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
footer .footer__description {
  margin: 40px 0 0 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
footer .footer__description__authorization__social-networks {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
footer .footer__description__authorization__social-networks a {
  display: block;
  padding: 16px;
  background: #f5f5f5;
  border-radius: 5px;
  margin: 0 30px 0 0;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
footer .footer__description__authorization__social-networks a svg {
  width: 18px;
  height: 18px;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
footer .footer__description__authorization__social-networks a svg path {
  width: 18px;
  height: 18px;
}
footer .footer__description__authorization__social-networks a:hover {
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  background: #fff;
}
footer .footer__description__authorization__social-networks a:hover svg path {
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  fill: #72BF44;
}
footer .footer__description__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 50%;
  margin: auto 0;
  line-height: 1.5;
  padding: 0 0 0 25px;
}
footer .footer__description__text p {
  font-size: 1.25rem;
  color: #999;
  margin: 0 0 20px 0;
}
footer .footer__description__authorization, footer .footer__description__download {
  width: 25%;
}
footer .footer__description__authorization h4, footer .footer__description__download h4 {
  font-size: 1.75rem;
  font-weight: 700;
  margin: 0 0 20px 0;
}
footer .footer__description__download {
  padding: 0 0 0 40px;
}
footer .footer__description__download__buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

@media screen and (max-width: 1200px) {
  :root {
    font-size: 8px;
  }

  ::-webkit-scrollbar {
    width: 4px;
    height: 4px;
    background-color: #E5E5E5;
  }

  ::-webkit-scrollbar-thumb {
    background-color: #72BF44;
  }

  .container {
    padding: 0 20px;
  }

  header {
    border-bottom: 1px solid #E5E5E5;
  }
  header .header__logo {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
  }
  header .header__search {
    display: none;
  }
  header .header__burger-menu {
    display: block;
    margin: auto 0;
    position: relative;
  }
  header .header__burger-menu__button {
    cursor: pointer;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin: 0 25px;
    height: 17px;
    width: 20px;
    position: relative;
  }
  header .header__burger-menu__button span {
    background: #000;
    display: block;
    height: 2px;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
  }
  header .header__burger-menu__button span:nth-child(1), header .header__burger-menu__button span:nth-child(3) {
    width: 100%;
    -webkit-transform-origin: left;
            transform-origin: left;
  }
  header .header__burger-menu__button span:nth-child(2) {
    width: 16px;
  }
  header .header__burger-menu__button p {
    position: absolute;
    color: #fff;
    background: #CC0E00;
    margin: 0;
    top: -8px;
    right: -6px;
    font-size: 0.8rem;
    border-radius: 20px;
    padding: 3px 4.5px;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
  }
  header .header__burger-menu__button-active span:nth-child(1), header .header__burger-menu__button-active span:nth-child(3) {
    width: 100%;
    -webkit-transform-origin: left;
            transform-origin: left;
  }
  header .header__burger-menu__button-active span:nth-child(1) {
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
  }
  header .header__burger-menu__button-active span:nth-child(2) {
    width: 16px;
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
    opacity: 0;
  }
  header .header__burger-menu__button-active span:nth-child(3) {
    width: 100%;
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
  }

  #Menu {
    display: none;
  }

  #Mobile-menu {
    display: block;
    background: rgba(0, 0, 0, 0.7);
    height: calc(100% - 78px);
    width: 100%;
    position: fixed;
    top: 78px;
    z-index: 5;
    overflow-x: hidden;
    overflow-y: scroll;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
  }
  #Mobile-menu .mobile-menu {
    background: #fff;
    opacity: 1;
    color: #000;
    padding: 0 20px;
  }
  #Mobile-menu .mobile-menu__search {
    position: relative;
    padding: 20px 0;
  }
  #Mobile-menu .mobile-menu__search input {
    background: #fff;
    border: 1px solid #B4DFA2;
    color: #000;
    font-size: 1.4rem;
    padding: 12px 16px;
    border-radius: 4px;
    outline: none;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
  }
  #Mobile-menu .mobile-menu__search img {
    position: absolute;
    top: 30px;
    right: 10px;
  }
  #Mobile-menu .mobile-menu__list {
    padding: 0 0 20px 0;
  }
  #Mobile-menu .mobile-menu__list ul {
    padding: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  #Mobile-menu .mobile-menu__list ul li {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  #Mobile-menu .mobile-menu__list ul li a {
    color: #000;
    text-decoration: none;
    font-size: 1.6rem;
    font-weight: 400;
    padding: 10px 0;
  }
  #Mobile-menu .mobile-menu__language {
    background: #E5E5E5;
    margin: 0 -20px 0 -20px;
    padding: 0 20px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  #Mobile-menu .mobile-menu__language p {
    color: #000;
    text-decoration: none;
    font-size: 1.6rem;
    font-weight: 400;
    padding: 10px 0;
  }
  #Mobile-menu .mobile-menu__language__block {
    font-size: 1.6rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 18px;
    margin: auto 0;
    cursor: pointer;
  }
  #Mobile-menu .mobile-menu__language__block img {
    height: 18px;
    width: 24px;
  }
  #Mobile-menu .mobile-menu__language__block span {
    margin: auto 5px;
  }
  #Mobile-menu .mobile-menu__language__block img:nth-child(3) {
    height: 15px;
    width: 15px;
    position: relative;
    top: 2px;
  }
  #Mobile-menu .mobile-menu__buttons {
    display: none;
  }
  #Mobile-menu.mobile-menu-active {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }

  #Investments .investments__img picture img {
    min-width: 500px;
  }
  #Investments .investments__img img:nth-child(2) {
    max-width: 500px;
    display: none;
  }

  #IPO, #ETF, #Deposit, #Sentence {
    width: 100%;
  }
  #IPO .ipo, #IPO .etf, #IPO .deposit, #IPO .sentence, #ETF .ipo, #ETF .etf, #ETF .deposit, #ETF .sentence, #Deposit .ipo, #Deposit .etf, #Deposit .deposit, #Deposit .sentence, #Sentence .ipo, #Sentence .etf, #Sentence .deposit, #Sentence .sentence {
    width: 100%;
  }
  #IPO .ipo img, #IPO .etf img, #IPO .deposit img, #IPO .sentence img, #ETF .ipo img, #ETF .etf img, #ETF .deposit img, #ETF .sentence img, #Deposit .ipo img, #Deposit .etf img, #Deposit .deposit img, #Deposit .sentence img, #Sentence .ipo img, #Sentence .etf img, #Sentence .deposit img, #Sentence .sentence img {
    max-width: 50%;
    max-height: 833px;
  }
}
@media screen and (max-width: 992px) {
  :root {
    font-size: 7px;
  }

  #Investments .investments__description__ratings {
    display: none;
  }

  #Partners .partners {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    margin: 40px 0;
  }

  #Quick-start .quick-start {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  #Quick-start .quick-start img {
    margin: 0;
    max-width: 312px;
    max-height: 395px;
  }
  #Quick-start .quick-start__description h3 {
    padding: 40px 0 20px 0;
  }
  #Quick-start .quick-start__description ul li {
    padding: 0 0 12px 0;
  }
  #Quick-start .quick-start__description a {
    margin: 20px 0 0 0;
  }

  #IPO, #ETF, #Deposit, #Sentence {
    border-bottom: 1px solid #F0F0F0;
  }
  #IPO .ipo, #IPO .etf, #IPO .deposit, #IPO .sentence, #ETF .ipo, #ETF .etf, #ETF .deposit, #ETF .sentence, #Deposit .ipo, #Deposit .etf, #Deposit .deposit, #Deposit .sentence, #Sentence .ipo, #Sentence .etf, #Sentence .deposit, #Sentence .sentence {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    padding: 140px 0 0 0;
  }
  #IPO .ipo__description, #IPO .etf__description, #IPO .deposit__description, #IPO .sentence__description, #ETF .ipo__description, #ETF .etf__description, #ETF .deposit__description, #ETF .sentence__description, #Deposit .ipo__description, #Deposit .etf__description, #Deposit .deposit__description, #Deposit .sentence__description, #Sentence .ipo__description, #Sentence .etf__description, #Sentence .deposit__description, #Sentence .sentence__description {
    padding: 0 0 20px 0;
  }
  #IPO .ipo__description h3, #IPO .ipo__description p, #IPO .etf__description h3, #IPO .etf__description p, #IPO .deposit__description h3, #IPO .deposit__description p, #IPO .sentence__description h3, #IPO .sentence__description p, #ETF .ipo__description h3, #ETF .ipo__description p, #ETF .etf__description h3, #ETF .etf__description p, #ETF .deposit__description h3, #ETF .deposit__description p, #ETF .sentence__description h3, #ETF .sentence__description p, #Deposit .ipo__description h3, #Deposit .ipo__description p, #Deposit .etf__description h3, #Deposit .etf__description p, #Deposit .deposit__description h3, #Deposit .deposit__description p, #Deposit .sentence__description h3, #Deposit .sentence__description p, #Sentence .ipo__description h3, #Sentence .ipo__description p, #Sentence .etf__description h3, #Sentence .etf__description p, #Sentence .deposit__description h3, #Sentence .deposit__description p, #Sentence .sentence__description h3, #Sentence .sentence__description p {
    padding: 0 0 20px 0;
  }
  #IPO .ipo__description__information, #IPO .etf__description__information, #IPO .deposit__description__information, #IPO .sentence__description__information, #ETF .ipo__description__information, #ETF .etf__description__information, #ETF .deposit__description__information, #ETF .sentence__description__information, #Deposit .ipo__description__information, #Deposit .etf__description__information, #Deposit .deposit__description__information, #Deposit .sentence__description__information, #Sentence .ipo__description__information, #Sentence .etf__description__information, #Sentence .deposit__description__information, #Sentence .sentence__description__information {
    padding: 0 0 20px 0;
  }
  #IPO .ipo__description__information__unit p, #IPO .etf__description__information__unit p, #IPO .deposit__description__information__unit p, #IPO .sentence__description__information__unit p, #ETF .ipo__description__information__unit p, #ETF .etf__description__information__unit p, #ETF .deposit__description__information__unit p, #ETF .sentence__description__information__unit p, #Deposit .ipo__description__information__unit p, #Deposit .etf__description__information__unit p, #Deposit .deposit__description__information__unit p, #Deposit .sentence__description__information__unit p, #Sentence .ipo__description__information__unit p, #Sentence .etf__description__information__unit p, #Sentence .deposit__description__information__unit p, #Sentence .sentence__description__information__unit p {
    padding: 0;
  }
  #IPO .ipo img, #IPO .etf img, #IPO .deposit img, #IPO .sentence img, #ETF .ipo img, #ETF .etf img, #ETF .deposit img, #ETF .sentence img, #Deposit .ipo img, #Deposit .etf img, #Deposit .deposit img, #Deposit .sentence img, #Sentence .ipo img, #Sentence .etf img, #Sentence .deposit img, #Sentence .sentence img {
    max-width: 50%;
    max-height: 833px;
  }

  #Awards .awards {
    text-align: left;
  }
  #Awards .awards h4 {
    padding: 70px 0 20px 0;
  }
  #Awards .awards p {
    padding: 0 0 40px 0;
  }

  #Safety .safety {
    padding: 130px 0 0 0;
  }
  #Safety .safety h3 {
    padding: 0 0 20px 0;
  }
  #Safety .safety__description {
    padding: 30px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  #Safety .safety__description p {
    text-align: left;
    line-height: 2.4rem;
    -ms-flex-item-align: start;
        align-self: flex-start;
    width: 100%;
    padding: 30px 0 0 0;
  }
  #Safety .safety__description img {
    max-width: 144px;
  }

  #Invest-form .invest-form {
    padding: 70px 0 0 0;
  }

  footer .footer__main {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  footer .footer__information__text {
    width: 50%;
  }
  footer .footer__description__authorization__social-networks a {
    padding: 10px;
  }
}
@media screen and (max-width: 768px) {
  .container {
    padding: 0 18px;
  }

  header .header__buttons {
    display: none;
  }

  #Mobile-menu .mobile-menu__buttons {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  #Mobile-menu .mobile-menu__buttons a {
    width: 45%;
    padding: 15px 0;
    border: 1px solid #72BF44;
  }

  #Investments .investments {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 140px 0 0 0;
    min-height: auto;
  }
  #Investments .investments__description {
    padding: 0 0 40px 0;
  }
  #Investments .investments__img {
    position: relative;
  }
  #Investments .investments__img picture img {
    position: relative;
    min-width: auto;
    width: 100%;
  }

  #Partners .partners img {
    margin: 0 20px 20px 20px;
  }

  #Awards .awards ul li {
    padding: 30px;
  }
  #Awards .awards ul li svg {
    max-width: 100%;
  }

  footer .footer__main__contacts, footer .footer__main__services, footer .footer__main__documents, footer .footer__main__information {
    width: 50%;
  }
  footer .footer__main__services, footer .footer__main__documents {
    padding: 0 0 20px 0;
  }
  footer .footer__main__contacts {
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
  }
  footer .footer__main__information {
    -webkit-box-ordinal-group: 5;
        -ms-flex-order: 4;
            order: 4;
  }
  footer .footer__information {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 30px 0;
  }
  footer .footer__information svg {
    display: none;
  }
  footer .footer__information__text, footer .footer__information__licenses {
    width: 100%;
    padding: 0;
  }
  footer .footer__information__text svg, footer .footer__information__licenses svg {
    display: block;
  }
  footer .footer__description {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  footer .footer__description__authorization {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    padding: 0 0 20px 0;
  }
  footer .footer__description__download {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    padding: 0 0 20px 0;
    width: 100%;
  }
  footer .footer__description__download__buttons {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  footer .footer__description__download__buttons a {
    margin: 0 10px 0 0;
  }
  footer .footer__description__text {
    padding: 0;
    width: 100%;
  }
}
@media screen and (max-width: 576px) {
  header .header__logo {
    max-width: 50%;
  }
  header .header__logo img {
    width: 100%;
  }
  header .header__burger-menu__button {
    margin: auto 0 auto auto;
  }

  #Mobile-menu {
    top: 67px;
    height: calc(100% - 67px);
  }
  #Partners .partners {
    margin: 70px 0 140px 0;
  }

  #Quick-start .quick-start img {
    width: 100%;
  }
  #Quick-start .quick-start__description a {
    width: 100%;
  }

  #IPO .ipo__description a, #IPO .etf__description a, #IPO .deposit__description a, #IPO .sentence__description a, #ETF .ipo__description a, #ETF .etf__description a, #ETF .deposit__description a, #ETF .sentence__description a, #Deposit .ipo__description a, #Deposit .etf__description a, #Deposit .deposit__description a, #Deposit .sentence__description a, #Sentence .ipo__description a, #Sentence .etf__description a, #Sentence .deposit__description a, #Sentence .sentence__description a {
    width: 100%;
  }

  footer .footer__main__contacts, footer .footer__main__information {
    width: 100%;
  }
  footer .footer__main__services, footer .footer__main__documents {
    width: 50%;
  }
  footer .footer__main__information__reliability {
    padding: 0 0 20px 0;
  }

  #Awards .awards ul {
    overflow-y: hidden;
    overflow-x: scroll;
    margin: 0 0 -60px 0;
    height: auto;
  }
  #Awards .awards ul li {
    padding: 30px;
    width: 260px;
    height: auto;
    margin: 0 10px 0 0;
  }
}