@font-face {
  font-family: 'GoodPro';
  src: url('../fonts/FFGoodPro-Regular.eot');
  src: local('☺'), url('../fonts/FFGoodPro-Regular.woff') format('woff'), url('../fonts/FFGoodPro-Regular.ttf') format('truetype'), url('../fonts/FFGoodPro-Regular.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}
:root {
  font-size: 10px;
  font-family: 'GoodPro',sans-serif;
}
$light-green:#E5F5E0;
$green:#72BF44;
$black:#000;
$white:#fff;
$lime:#B4DFA2;
$grey:#E5E5E5;
$light-grey:#F8F8F8;
$red:#CC0E00;
$animation:all 0.3s ease;
.container{
  max-width: 1280px;
  padding: 0 25px;
  margin:0 auto;
}
body{
  margin: 0;

}
::-webkit-scrollbar {
  width: 10px;
  height: 8px;
  background-color: $grey;
}
::-webkit-scrollbar-thumb {
  background-color: $green;
}
.colored-button,.transparent-button{
  color:$white;
  font-size: 1.4rem;
  border-radius: 3px;
  background: $green;
  cursor: pointer;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  box-sizing: border-box;
  border: 1px solid $green;
  transition: $animation;
  white-space: nowrap;
}
.transparent-button{
  color:$green;
  background: none;
  transition: $animation;
  border: none;
}
.colored-button:hover{
  background:none;
  color:$green;
  transition: $animation;
}
.transparent-button:hover{
  background: $green;
  color:$white;
  transition: $animation;
}
.dropdown-list{
  display: flex;
  flex-direction: column;
  position: relative;
  &__first{
    display: flex;
    position: relative;
    p{
      margin: auto 10px;
    }
    svg{
      margin:auto 0;
    }
  }
  .submenu{
    display: none !important;
    flex-direction: column;
    position: absolute;
    top:100%;
    left: 0;
    background: $white;
    opacity: 0;
    transition: $animation;
    z-index: 3;
    li{
      margin: 10px 15px 10px 0;
      p{
        margin: auto 10px;
      }
      svg{
        margin:auto 0;
      }
    }
  }
}
.dropdown-list:hover{
  .submenu{
    display: flex !important;
    opacity: 1;
    transition: $animation;
  }
}
header{
  background: $light-grey;
  position: fixed;
  z-index: 6;
  width: 100%;
  border-bottom: 1px solid $grey;
  .header{
    display: flex;
    justify-content: space-between;
    &__logo{
      display: block;
      padding: 20px 0;
    }
    &__search{
      display: flex;
      justify-content: space-between;
      align-items: flex-start;
      width: 100%;
      margin: 0 20px 0 70px;
      padding: 20px 0;
      input{
        background: #fff;
        border: 1px solid $lime;
        color:$black;
        font-size: 1.4rem;
        padding: 12px 16px;
        border-radius: 4px;
        outline: none;
        box-sizing: border-box;
        width: 100%;
        margin:0 20px 0 0;
      }
      button{
        padding: 12px 32px;
        background: $light-green;
        border-radius: 3px;
        outline: none;
        cursor: pointer;
        border: 1px solid $light-green;
        box-sizing: border-box;
        transition: $animation;
        display: flex;
        svg{
          align-items: center;
        }
      }
      button:hover{
        border: 1px solid $lime;
        background: $white;
        transition: $animation;
      }
    }
    &__buttons{
      display: flex;
      padding: 20px 20px;
      border-left: 1px solid $grey;
      border-right: 1px solid $grey;
      .colored-button{
        margin:0 20px 0 0;
        padding: 10px 23px;
      }
      .transparent-button{
        padding: 10px 23px;
      }
    }
    &__cart{
      display: flex;
      margin: auto 0 auto 20px;
      justify-content: space-between;
      align-items: center;
      text-decoration: none;
      &__logo{
        display: flex;
        padding: 0 10px 0 0;
        position: relative;
        span{
          position: absolute;
          color:$white;
          background:$red;
          margin: 0;
          top:-6px;
          right: 3px;
          font-size: 0.8rem;
          border-radius: 20px;
          padding: 3px 4.5px;
          transition: $animation;
        }
        img{
          transition: $animation;
        }
      }
      p{
        color:$black;
        font-size: 1.6rem;
        font-weight: 400;
      }
    }
    &__cart:hover{
      .header__cart__logo{
        img,span{
          transform: scale(1.2,1.2);
          transition: $animation;
        }
      }
    }
    &__burger-menu{
      display: none;
    }
  }
}
#Menu{
  position: relative;
  top:82px;
  border-top:1px solid $grey;
  border-bottom: 1px solid $grey;
  .menu{
    nav{
      ul{
        display: flex;
        justify-content: space-between;
        padding: 19px 0;
        margin: 0;
        li{
          display: flex;
          a{
            text-decoration: none;
            font-weight: 400;
            color:$black;
            font-size: 1.6rem;
          }
        }
      }
    }
  }
}
#Mobile-menu{
  display: none;
}
#Investments{
  background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, #F3F7F9 100%);
  .investments{
    width: 100%;
    min-height: 720px;
    display: flex;
    position: relative;
    padding: 155px 0 136px 0;
    box-sizing: border-box;
    &__description{
      position: relative;
      z-index: 3;
      max-width: 700px;
      h3,p{
        font-size: 6.0rem;
        font-weight: 400;
        color:$black;
        margin: 0;
        padding: 0 0 40px 0;
      }
      p{
        font-size: 2.4rem;
      }
      a{
        max-width: 280px;
        padding: 14px 0;
        font-size: 1.8rem;
        line-height: 2.8rem;
      }
      &__ratings{
        display: flex;
        justify-content: flex-start;
        padding: 45px 0 0 5px;
        &__unit{
          margin:0 35px 0 0;
          text-align: center;
          p{
            font-size: 1.3rem;
            color:$black;
            font-weight: 400;
            padding: 20px 0 0 0;
          }
        }
      }
    }
    &__img{
      img{
        position: absolute;
        right: 0;
        bottom: 0;
        max-width: 804px;
        max-height: 624px;
      }
      img:nth-child(1){
        z-index: 2;
      }
      img:nth-child(2){
        right: 52px;
        z-index: 1;
      }
    }
  }
}
#Partners{
  .partners{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 70px 0 140px 0;
    svg,img{
      margin:0 22.5px;
    }
  }
}
#Quick-start{
  .quick-start{
    display: flex;
    justify-content: center;
    img{
      margin: 0 100px 0 0;
      max-width: 412px;
      max-height: 522px;
    }
    &__description{
      h3{
        font-size: 6.0rem;
        color:$black;
        font-weight: 400;
        margin: 0;
        padding: 71px 0 40px 0;
      }
      ul{
        display: flex;
        flex-direction: column;
        padding: 0;
        li{
          display: flex;
          font-size: 2.4rem;
          color:$black;
          font-weight: 400;
          padding: 0 0 20px 0;
        }
      }
      a{
        margin: 50px 0 0 0;
        padding: 14px 0;
        width: 330px;
        font-size: 1.8rem;
        line-height: 2.8rem;
      }
    }
  }
}
#IPO,#ETF,#Deposit,#Sentence{
  .ipo,.etf,.deposit,.sentence{
    display: flex;
    width: 100%;
    position: relative;
    padding: 140px 0 0 0;
    &__description{
      h3,p{
        font-size: 6.0rem;
        font-weight: 400;
        color: $black;
        margin: 0;
        padding: 0 0 40px 0;
        span{
          color:$green;
        }
      }
      p{
        font-size: 2.4rem;
        a{
          font-size: 2.4rem;
          color: $green;
          text-decoration: none;
          padding: 0;
        }
        a:hover{
          border-bottom: 1px solid $green;
        }
      }
      &__information{
        display: flex;
        padding: 0 0 40px 0;
        &__unit{
          display: flex;
          flex-direction: column;
          justify-content: flex-start;
          margin: 0 70px 0 0;
          p{
            font-size: 6.0rem;
            color: $green;
            font-weight: 300;
            padding: 0;
          }
          span{
            font-size: 1.8rem;
            font-weight: 400;
            color:$grey;
          }
        }
      }
      a{
        padding: 14px 0;
        width: 330px;
        font-size: 1.8rem;
        line-height: 2.8rem;
      }
    }
    img{
      max-width: 620px;
      max-height: 833px;
    }
  }
}
#Awards{
  background: $light-grey;
  .awards{
    display: flex;
    flex-direction: column;
    text-align: center;
    h4{
      padding: 140px 0 48px 0;
      font-size: 3.0rem;
      font-weight: 500;
      margin:0;
    }
    p{
      font-size: 1.8rem;
      font-weight: 400;
      line-height: 2.8rem;
      margin: 0;
      padding: 0 0 80px 0;
    }
    ul{
      display: flex;
      justify-content: space-between;
      padding: 0;
      li{
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        text-align: left;
        background: #fff;
        box-shadow: 0 4px 40px rgba(0, 0, 0, 0.08);
        border-radius: 5px;
        width: calc(50% - 20px);
        margin: 0 0 -60px 0;
        padding: 40px;
        box-sizing: border-box;
        img{
          width: 101px;
          height: 96px;
        }
        h4{
          font-size: 2.4rem;
          font-weight: 500;
          color:$black;
          margin:0;
          padding: 20px 0;
        }
        p{
          font-size: 1.6rem;
          color:$black;
          opacity: 0.6;
          padding: 0 0 20px 0;
        }
      }
    }
  }
}
#Safety{
  .safety{
    padding: 186px 0 0 0;
    display: flex;
    flex-direction: column;
    text-align: center;
    h3{
      margin: 0;
      color:$black;
      font-size: 4.0rem;
      font-weight: 500;
      padding: 0 0 40px 0;
    }
    &__description{
      display: flex;
      justify-content: space-between;
      width: 100%;
      background: $light-grey;
      border-radius: 10px;
      padding: 60px;
      text-align: left;
      box-sizing: border-box;
      p{
        font-size: 1.8rem;
        font-weight: 400;
        padding: 0 40px 0 0;
        margin:0;
        align-self: center;
        width: 80%;
      }
      svg{
        align-self: center;
      }
    }
  }
}
#Invest-form{
  padding: 0 0 140px 0;
  .invest-form{
    max-width: 600px;
    display: flex;
    flex-direction: column;
    margin:0 auto;
    text-align: center;
    padding: 74px 0 0 0;
    h3{
      font-size: 3.0rem;
      font-weight: 500;
      margin:0;
      padding: 0 0 40px 0;
    }
    &__block{
      input{
        width: 100%;
        margin:0 0 20px 0;
        border: 1px solid #CCCCCC;
        color:$black;
        font-size: 1.6rem;
        font-weight: 400;
        padding: 20px 14px;
        box-sizing: border-box;
        border-radius: 3px;
        outline: none;
      }
      &__password{
        position: relative;
        padding: 0 0 20px 0;
        input{
          margin:0;
        }
        img{
          position: absolute;
          top:18px;
          right: 14px;
          cursor: pointer;
        }
      }
      &__checkbox{
        display: flex;
        padding: 0 0 42px 0;
        input[type=checkbox]{
          display: none;
        }
        .checkbox-block{
          display: block;
          width: 24px;
          height: 24px;
          border:1px solid #cccccc;
          border-radius: 3px;
          position: relative;
          svg{
            position: absolute;
            width: 16px;
            height: 16px;
            left: 50%;
            top:50%;
            transform: translate(-50%,-50%);
            opacity: 0;
            transition: $animation;
            path{
              fill:$green;
            }
          }
        }
        input[type="checkbox"]:checked + label{
          svg{
            transition: $animation;
            opacity: 1;
          }
        }
        .checkbox-text{
          font-size: 1.4rem;
          font-weight: 400;
          padding: 0 0 0 15px;
          margin: auto 0;
          a{
            font-size: 1.4rem;
            font-weight: 400;
            color:$green;
            text-decoration: none;
            margin: 0;
            padding: 0;
          }
          a:hover{
            border-bottom: 1px solid $green;
          }
        }
      }
      button{
        width: 100%;
        padding: 17px 0;
        line-height: 2.8rem;
        font-size: 1.8rem;
      }
    }
  }
}
footer{
  background: #ECEFF1;
  padding: 70px 0;
  .footer{
    display: flex;
    flex-direction: column;
    hr{
      box-sizing: content-box;
      height: 0;
      overflow: visible;
      margin: 0;
      border: 0;
      border-top: 1px solid #e5e5e5;
    }
    &__main{
      display: flex;
      justify-content: space-between;
      margin: 0 0 40px 0;
      &__contacts,&__services,&__documents,&__information{
        h4{
          font-size: 1.8rem;
          font-weight: 700;
          text-transform: uppercase;
        }
      }
      &__services,&__documents{
        width: 20%;
        ul{
          display: flex;
          flex-direction: column;
          margin:0;
          padding: 0;
          li{
            display: flex;
            flex-direction: column;
            margin:0;
          }
          li:not(:first-child){
            margin:20px 0 0 0;
          }
        }
        a{
          text-decoration: none;
          color: #000;
          opacity: 0.6;
          font-size: 1.6rem;
          transition: $animation;
        }
        a:hover{
          opacity: 1;
          transition: $animation;
        }
      }
      &__contacts{
        width: 30%;
        ul{
          display: flex;
          flex-direction: column;
          padding: 0;
          li{
            display: flex;
            a{
              text-decoration: none;
              font-size: 1.4rem;
              color:$green;
            }
            a:hover{
              border-bottom: 1px solid $green;
              margin:0 0 -1px 0;
            }
            svg{
              width: 12px;
              height: 14px;
              margin:auto 10px auto 0;
            }
            p{
              font-size: 1.4rem;
              font-weight: 100;
              margin:0;
              span{
                font-weight: 700;
              }
              a{
                text-decoration: none;
                color:$black;
              }
              a:hover{
                border:none;
                margin:0;
              }
            }
          }
          li:not(:first-child){
            margin:10px 0 0 0;
          }
        }
        hr{
          box-sizing: content-box;
          height: 0;
          overflow: visible;
          margin: 20px 0;
          border: 0;
          border-top: 1px solid #e5e5e5;
        }
      }
      &__information{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        &__payment-methods{
          &__logo{
            svg{
              border: 1px solid $grey;
              padding: 2px 10px;
              margin: 0 20px 0 0;
            }
            svg:last-child{
              path{
                fill:$green;
              }
            }
          }
        }
      }
    }
    &__information{
      width: 100%;
      display: flex;
      svg{

        margin: auto 0;
        width: 25%;
      }
      &__text{
        display: flex;
        flex-direction: column;
        padding: 0 0 0 40px;
        width: 60%;
        margin:auto 0;
        line-height: 1.5;
        p{
          font-size: 1.25rem;
          color:#999;
          margin: 0 0 20px 0;
        }
      }
      &__licenses{
        padding: 0 0 0 40px;
        width: 20%;
        a{
          background: $white;
          display: flex;
          flex-direction: column;
          padding: 50px 30px;
          text-decoration: none;
          transition: $animation;
          svg{
            margin:0;
          }
          p{
            font-size: 1.4rem;
            margin:20px 0 0 0;
            color:$black;
          }
          span{
            opacity: 0.6;
            font-size: 1.4rem;
            margin:10px 0 0 0;
            color:$black;
          }
        }
        a:hover{
          box-shadow: 0 0 20px rgb(0 0 0 / 10%);
          transition: $animation;
        }
      }
    }
    &__description{
      margin: 40px 0 0 0;
      display: flex;
      justify-content: space-between;
      &__authorization{
        &__social-networks{
          display: flex;
          a{
            display: block;
            padding: 16px;
            background: #f5f5f5;
            border-radius: 5px;
            margin:0 30px 0 0;
            transition: $animation;
            svg{
              width: 18px;
              height: 18px;
              transition: $animation;
              path{
                width: 18px;
                height: 18px;
              }
            }
          }
          a:hover{
            transition: $animation;
            background: $white;
            svg{
              path{
                transition: $animation;
                fill:$green;
              }
            }
          }
        }

      }
      &__text{
        display: flex;
        flex-direction: column;
        width: 50%;
        margin:auto 0;
        line-height: 1.5;
        padding: 0 0 0 25px;
        p{
          font-size: 1.25rem;
          color:#999;
          margin: 0 0 20px 0;
        }
      }
      &__authorization,&__download{
        width: 25%;
        h4{
          font-size: 1.75rem;
          font-weight: 700;
          margin:0 0 20px 0;
        }
      }
      &__download{
        padding: 0 0 0 40px;
        &__buttons{
          display: flex;
          justify-content: space-between;
        }
      }
    }
  }
}
@media screen and (max-width: 1200px){
  ::-webkit-scrollbar {
    width: 4px;
    height: 4px;
    background-color: $grey;
  }
  ::-webkit-scrollbar-thumb {
    background-color: $green;
  }
  .container{
    padding: 0 20px;
  }
  header{
    border-bottom: 1px solid $grey;
    .header{
      &__logo{
        flex: 1;
      }
      &__search{
        display: none;
      }
      &__burger-menu{
        display: block;
        margin:auto 0;
        position: relative;
        &__button{
          cursor: pointer;
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          margin:0 25px;
          height: 17px;
          width: 20px;
          position: relative;
          span{
            background: $black;
            display: block;
            height: 2px;
            transition: $animation;
          }
          span:nth-child(1),span:nth-child(3){
            width: 100%;
            transform-origin: left;
          }
          span:nth-child(2){
            width: 16px;
          }
          p{
            position: absolute;
            color:$white;
            background:$red;
            margin: 0;
            top:-8px;
            right: -6px;
            font-size: 0.8rem;
            border-radius: 20px;
            padding: 3px 4.5px;
            transition: $animation;
          }
        }
        &__button-active{
          span:nth-child(1),span:nth-child(3){
            width: 100%;
            transform-origin: left;
          }
          span:nth-child(1){
            transform: rotate(45deg);
          }
          span:nth-child(2){
            width: 16px;
            transform: translateX(-100%);
            opacity: 0;
          }
          span:nth-child(3){
            width: 100%;
            transform: rotate(-45deg);
          }
        }
      }
    }
  }
  #Menu{
    display: none;
  }
  #Mobile-menu{
    display: block;
    background: rgb(0, 0, 0 ,0.7);
    height: calc(100% - 78px);
    width: 100%;
    position: fixed;
    top:78px;
    z-index: 5;
    overflow-x: hidden;
    overflow-y: scroll;
    transition: $animation;
    .mobile-menu{
      background: $white;
      opacity: 1;
      color: $black;
      padding: 0 20px;
      &__search{
        position: relative;
        padding: 20px 0;
        input{
          background: #fff;
          border: 1px solid #B4DFA2;
          color: #000;
          font-size: 1.4rem;
          padding: 12px 16px;
          border-radius: 4px;
          outline: none;
          -webkit-box-sizing: border-box;
          box-sizing: border-box;
          width: 100%;
          margin: 0 20px 0 0;
        }
        img{
          position: absolute;
          top:33px;
          right: 16px;
        }
      }
      &__list{
        padding: 0 0 20px 0;
        ul{
          padding: 0;
          display: flex;
          flex-direction: column;
          li{
            display: flex;
            a{
              color: $black;
              text-decoration: none;
              font-size: 1.6rem;
              font-weight: 400;
              padding: 10px 0;
            }
          }
        }
      }
      &__language{
        background: $grey;
        margin:0 -20px 0 -20px;
        padding: 0 20px;
        display: flex;
        justify-content: space-between;
        p{
          color: $black;
          text-decoration: none;
          font-size: 1.6rem;
          font-weight: 400;
          padding: 10px 0;
        }
        &__block{
          font-size: 1.6rem;
          display: flex;
          height: 18px;
          margin:auto 0;
          cursor: pointer;
          img{
            height: 18px;
            width: 24px;
          }
          span{
            margin: auto 5px;
          }
          img:nth-child(3){
            height: 15px;
            width: 15px;
            position: relative;
            top:2px;
          }
        }
      }
    }
  }
  #Mobile-menu{
    &.mobile-menu-active{
      transform:translateY(0);
    }
  }
}
@media screen and (max-width: 992px){

}
@media screen and (max-width: 768px){
  .container{
    padding: 0 18px;
  }
}
@media screen and (max-width: 576px){

}
@media screen and (max-width: 320px){

}